/* Basic custom styles */
body {
  background: #f8f9fa;
}
.card img.card-img-top {
  display: block;
  width: 100%;
}

/* Make the grid items equal height */
.card.h-100 {
  display: flex;
  flex-direction: column;
}
.card .card-body {
  flex-grow: 1;
}
